body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    background-color: black;
}

section {
    padding: 20px;
    text-align: center;
}

.product {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.product img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}
form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%; /* تحديد عرض النموذج */
    margin: 0 auto; /* وضعه في الوسط */
}

form label, form input, form textarea, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input, form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}
/* إضافة تنسيق للصفحتين */
section#login,
section#register {
  margin: 20px auto;
  max-width: 400px;
  text-align: left;
}
section#login h2, section#register h2 {
    text-align: center;
    margin-bottom: 20px;
}



h2 {
    text-align: center;
    margin-bottom: 20px;
}

